[submodule "src/3D-Random-Placement"]
	path = src/3D-Random-Placement
	url = https://github.com/RIPS25-Analog/3D-Random-Placement.git
[submodule "src/3D-Copy-Paste"]
	path = src/3D-Copy-Paste
	url = https://github.com/RIPS25-Analog/3D-Copy-Paste.git
